!empty



.gitignore
.buildpath
.project
.settings/

*.mo
*.*~

sources/webapplication/app/Config/database.php
sources/webapplication/app/Config/core.php
sources/webapplication/app/webroot/.htaccess
sources/webapplication/app/tmp/*
sources/webapplication/app/webroot/tmp/*
sources/webapplication/app/webroot/video/*
