.jl-content{}.jl-wrap{margin-left:0px}.jl-day{position:relative;margin:15px
0;padding:39px
19px 14px;background-color:white;border:1px
solid #DDD;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.jl-title{position:absolute;top:-1px;left:-1px;padding:3px
7px;font-size:12px;font-weight:bold;background-color:whiteSmoke;border:1px
solid #DDD;-webkit-border-radius:4px 0 4px 0;-moz-border-radius:4px 0 4px 0;border-radius:4px 0 4px 0}.jl-title
a{color:#9DA0A4;text-decoration:none}.jl-title a:hover{color:#000}.jl-day
p{color:#48484C;font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:14px;line-height:20px;white-space:pre-line;word-wrap:break-word}.g-day{position:absolute;top:-8px;right:-8px}.print{display:inline-block;float:right;margin:4px
7px 4px 0}.print:hover,.help:hover{cursor:pointer}