AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)\.(\d+)\.(png|jpg|gif)$ $1.$3 [L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+?)\.(\d.*\d+)\.(js|css)$ min/index.php?f=$1.$3 [L]
    #RewriteRule ^(css/)([^/]+?)\.(\d.*\d+)\.(js|css)$ min/index.php?f=$1$2.$4v=$3 [L]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^checkLogin$ checkLogin.php [QSA,L]
              
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>

AuthType Basic
AuthName "Private zone."
AuthUserFile /home/pubftp/test1/besttask/sources/webapplication/app/webroot/.htpasswd
require valid-user


