AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    Options +Followsymlinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)\.(\d+)\.(png|jpg|gif|css|js)$ $1.$3 [L]
    
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    
    #RewriteRule ^((css|js)/min/)([^/]+?)\.(\d.*\d+)\.(js|css)$ tmp/minify_g=$3.$5.v=$4 [L]
    #RewriteCond %{REQUEST_FILENAME} !-f   
    #RewriteRule ^(tmp/minify_g=)([^/]+?)$ min/index.php?g=$2 [L]

    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.+?)\.(\d.*\d+)\.(js|css)$ min/index.php?f=$1.$3 [L]
            
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^checkLogin$ checkLogin.php [QSA,L]
              
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>



