@CHARSET "UTF-8";

/* Спрайт иконок провайдеров */
.providers_ico_sprite {background-position:0 0;background-repeat:no-repeat;background-image:url('/img/sprite/providers_ico_sprite.png');display:inline-block;width:16px;height:16px;}
.google_ico {background-position:0 0}
.yandex_ico {background-position:0 -16px}
.mailruapi_ico, .mailru_ico {background-position:0 -32px}

.vkontakte_ico {background-position:0 -48px}
.facebook_ico {background-position:0 -64px}
.twitter_ico {background-position:0 -80px}

.loginza_ico {background-position:0 -96px}
.myopenid_ico {background-position:0 -112px}
.webmoney_ico {background-position:0 -128px}

.rambler_ico {background-position:0 -144px}
.flickr_ico {background-position:0 -160px}
.lastfm_ico {background-position:0 -176px}

.openid_ico {background-position:0 -192px}
.verisign_ico {background-position:0 -208px}
.aol_ico {background-position:0 -224px}
.steam_ico {background-position:0 -240px}
.livejournal_ico {background-position:0 -256px}
.odnoklassniki_ico {background-position:0 -272px}
.linkedin_ico {background-position:0 -288px}

/* Спрайт логотипов провайдеров */
.providers_sprite {background-position:0 0;background-repeat:no-repeat;background-image:url('/img/sprite/providers_sprite.png');display:inline-block;width:90px;height:25px;}
.google {background-position:0 0}
.yandex {background-position:0 -25px}
.mailruapi {background-position:0 -50px}

.vkontakte {background-position:0 -75px}
.facebook {background-position:0 -100px}
.twitter {background-position:0 -125px}

.loginza {background-position:0 -150px}
.myopenid {background-position:0 -175px}
.webmoney {background-position:0 -200px}

.rambler {background-position:0 -225px}
.flickr {background-position:0 -250px}
.lastfm {background-position:0 -275px}

.openid {background-position:0 -300px}
.verisign {background-position:0 -325px}
.aol {background-position:0 -350px}

.mailru {background-position:0 -375px}
.steam {background-position:0 -400px}
.livejournal {background-position:0 -425px}
.odnoklassniki {background-position:0 -450px}
.linkedin {background-position:0 -475px}
.prettytasks {background-repeat:no-repeat;background-image:url('/img/pr_icon.png');display:inline-block;width:16px;height:16px;}
.prettytasks_logo {background-repeat:no-repeat;background-image:url('/img/pr_logo.png');display:inline-block;width:90px;height:25px;}
.providers_set {text-align:center;}
.providers_set .providers_sprite {margin: 7px 0px;}
.provider {float: center; margin: 4px; display: inline-block;}

/* new */
.social-buttons span {
    background: url(/img/sprite/socials_sprite.png) no-repeat;
    height: 50px;
    width: 50px;
    display:block;
}
.social-buttons a, .social-buttons a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration:none;
    float: left;
}
.social-buttons a {
    width: 50px;
    height: 50px;
    margin:5px 5px 0 0;
}
.s-btns {
    width: 275px;
    margin: 0 auto;
}
.social-buttons a:hover {
    background:#f4f3f2;
}

.social-buttons .google {
    background-position: 0 -473px;
}

.social-buttons .odnoklassniki {
    background-position: -51px -473px;
}
.social-buttons .vkontakte {
    background-position: 0 -525px;
}
.social-buttons .facebook {
    background-position: -51px -525px;
}
.social-buttons .mail {
    background-position: 0 -577px;
}
.social-buttons .twitter {
    background-position: -51px -577px;
}

.social-buttons .yandex {
    background-position: 0px -629px;
}

.social-buttons .linkedin {
    background-position: -51px -629px;
}

.social-buttons .live {
    background-position: -0px -681px;
}

.social-buttons .yahoo {
    background-position: -51px -733px;
}


.social-avatar{
    text-align: center;
}
.social-avatar img{
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}


