@import "bootstrap.min.css";
@import "jquery.jgrowl.css";

html{
     overflow-y: scroll;
     min-width: 1210px;
}


footer {
	padding: 0 10px 0 10px;
	border-top: 1px solid #eee;
	color: white;
	background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer > p {
	margin-bottom: 11px;
	margin-top: 13px;
}
.push { height: 63px; }

