.listTask{
    margin-left: 20px;
}
.label-info{
    padding: 6px 10px;
}
div.well{
    padding: 0px;
    background-color: inherit;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
#notes li.editing .edit {
	display: block;
	width: 444px;
	padding: 13px 15px 14px 20px;
	margin: 0;
}

#notes li.editing .view {
	display: none;
}

#notes li .view label {
	word-break: break-word;
}

#notes li .edit {
	display: none;
}
.note-box:first-child{
    margin-left: 1px;
}
.notes{
    margin: 0 0 0 25px;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.note-box{
    position: relative;
    background: url('/img/note.png') no-repeat;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 180px;
    height: 200px;
    float: left;
}
.note{
    padding: 30px 5px 10px 15px;
    height: 130px;
    width: 150px;
    overflow:hidden;
    word-break: break-word;
    white-space: pre-line;
}

.note:hover{
    cursor: text;
}

.text-note{
    width: 510px;
}

.create-new-note{
    height: 178px;
    width: 170px;
    margin-left: 20px;
    margin-bottom: 1px;
    margin-top: 18px;
    float: left;
}

.create-new-note:hover{
  opacity:0.6;
  filter:alpha(opacity=60); 
  cursor: pointer;
}
.modified{
    
    margin-left: 10px;
    position: absolute;
    bottom: 18px;
    left: 0px;
}

.note-remove{
    position: absolute;
    top: 8px;
    right: 17px;
}

.note-remove:hover .icon-remove-sign{
    background-image: url("../img/glyphicons-halflings-white.png");
}
