#page{
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px/1.4;
    color: #333;
    padding: 5px;
}
#page h1{
    font-family: helvetica, arial, sans-serif;
    font-size:26px;
    padding-bottom: 20px;
    
    font-weight: 300;
    line-height: 1;
}
#page h2{
    font-family: helvetica, arial, sans-serif;
    font-size:24px;
    font-weight: 300;
    line-height: 1;
    margin: 30px 0 15px 0;
}

#page p {
    padding-left: 20px;
    text-indent: 20px;
    line-height: 1.5;
}