#page{
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 5px;
}
#page h1{
    padding-bottom: 20px;
}
#page p {
    padding-left: 20px;
    text-indent: 20px;
}