@CHARSET "UTF-8";

/*
 * Please place your code below
 */
a.brand{
    display: block !important;
}
 .print,
 .days,
 .filter,
 .well,
.navbar,
.nav-tabs, 
#reformal_tab, 
#ue-feedback-tab, 
.furrghtd,
footer .container{
  display: none;
}
#wrapper{
    border: none !important;
}
.listTask h3{
    text-shadow:none;
    color: black;
}


