/* Tweak navbar brand link to be super sleek
-------------------------------------------------- 
@navbarBackground #0094C0
@navbarBackgroundHighlight #007CA1
@navbarLinkColor @white
@navbarLinkBackgroundHover rgba(0, 55, 72, 0.15)
@navbarLinkBackgroundActive rgba(0, 55, 72, 0.15)
*/ 
/*twitter.fix*/
.navbar .nav > li > a{
    line-height: 19px;
    padding: 9px 10px 11px;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover{color:#ffffff;}
.navbar .nav > li > a:hover{color:#ffffff;}
h1, h2, h3, h4, h5, h6 {margin: 0;}
h3 {
font-size: 18px;
line-height: 27px;
}
/*       */          
html {
	height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;  
  position: relative;
  background-color: #FBFBFB;
}

.brand{
    padding: 5px 20px 2px!important;
}

.container, 
#wrapper, 
.navbar-fixed-bottom .container, 
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.span12{
     width: 970px;
     margin: 0 auto;
} 

.navbar .dropdown-menu.no-collapse {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    margin: 0;
    padding: 4px 0;
    position: absolute;
    top: 100%;
}



#wrapper-all {
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
 }

#wrapper-content{
    padding: 50px 5px 276px 5px ;
}

#wrapper{
    background-color: white;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      border-radius: 4px;
}

.box{
   
   width: 306px;
   background-color: white;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #DDD;
    border-top: 0; 
}
.box_header{
    padding: 9px;
    -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0; 
    
}
.left .box_header {
    background-color: darkred;
}
.right .box_header {
    background-color: darkgreen;
}
.center .box_header {
    background-color: goldenrod;
}
.box_header h1 {
    color:white;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1.3;
}


.box_container{
    height: 250px;
    padding: 10px;
}

.thumbnails > li {
    float: none;
}

.box_container h2 {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0px;
    margin: 0 0 9px;    
}
.box_container p {
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin: 0 0 9px;
    line-height: 21px;
    font-weight: 300;  
    text-align: justify;      
}

.start{
    margin-bottom: 10px;
}
.fire {
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 21px;
    font-weight: bold; 
    letter-spacing: 2px;
}
.fire:hover{
    color: #E4E4E4;
}

/* Footer
-------------------------------------------------- */
footer {
    background-color: #EDEDED;
    display: block;
  	margin: -191px auto 0;
	height: 170px;
	position: relative;
    border-top: 1px solid #DFDFDF;
    font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#adadad;
	text-shadow:#fff 1px 1px 1px;
    padding: 10px 0
}

footer h2{
	color:#999898;
	text-shadow:#fff 1px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
}

footer p, footer a{
	color:#adadad;
	text-shadow:#fff 1px 1px 1px;
}

footer ul,footer li{ margin:0; padding:0; list-style:none; }

footer .copyright{
	border-top:1px solid #e0e0e0;
	padding:10px 0 1px 0;
}
footer .right{ text-align:right; }

.lang-top{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
    border-bottom: 1px dotted white;
    cursor: pointer;
}
.lang-top:hover{
    border-bottom: none;
    
}
.s6{
    margin-left: 1px;
    margin-top: 8px;
    min-width: 80px;
}

