@import "jquery.timepicker-1.2.2.css";

.modal {
    margin-top: -45%;
    max-height: 90%;
    overflow-y: auto;
}

.createTask{
}
.createTask:hover{
  //border:1px inset #f5f5f5;
}



.sortable { list-style-type: none; margin: 0; padding: 0;  }
.sortable li { 
    margin: 0 3px 3px 3px; 
    font-size: 1.4em;
    height: 22px; 
}
.sortable li span { 
    vertical-align: middle;
    margin-right: 10px; 
}
.comment{
    outline: 1px solid red;
    height: 200px;
    margin-top: 5px;
}



.editable{
    display: inline-block;
    border:1px dotted #CCC;
    height: 19px;
    width: 220px;
    overflow:hidden; 
  
}
.editable:hover{
  border:1px inset #f5f5f5;
}
.editable input { 
    color:#416796;
    padding:0;
    font-weight:bold; 
    border:1px solid #ccc;
    height: 19px; 
    width: 230px;
}
.complete {
    text-decoration: line-through;
    color: #ccc;
}
.important{
    color: lime;
}

.time{
    display: inline-block;
    width: 40px;
    
}

/*jGrowl theme */
div.jGrowl div.green_theme {
    background-color: #008040;
    color: yellow;
}

div.jGrowl.custom {
	right: 				0px;
	top: 				25px;
}